[submodule "madina"]
	path = madina
	url = https://github.com/City-Form-Lab/madina
[submodule "cityseer-api"]
	path = cityseer-api
	url = https://github.com/benchmark-urbanism/cityseer-api.git
[submodule "sdna-plus"]
	path = sdna-plus
	url = https://github.com/fiftysevendegreesofrad/sdna_plus.git
